<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css"
          th:href="@{/static/css/sticky-footer-navbar.css}"/>

    <!-- Own CSS -->
    <link rel="stylesheet" href="/static/css/custom.css" th:href="@{/static/css/custom.css}"/>

    <title>TheLatestNews Registration</title>
</head>
<body>

<!-- Begin page content -->
<main role="main" class="container">
    <h1 class="mt-5">Регистрация</h1>
    <form action="#" th:action="@{/registration}" th:object="${appUser}" method='post'>
        <div class="form-group">
            <label for="formGroupFirstNameInput">First name</label>
            <input type="text" class="form-control" id="formGroupFirstNameInput" placeholder="First name"
                   name="firstName">
        </div>
        <div class="form-group">
            <label for="formGroupLastNameInput">Last name</label>
            <input type="text" class="form-control" id="formGroupLastNameInput" placeholder="Last name" name="lastName">
        </div>
        <div class="form-group">
            <label for="inputEmail1">Email address</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email" name="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="formGroupLoginInput">Login</label>
            <input type="text" class="form-control" id="formGroupLoginInput" placeholder="Login" name="login">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Зарегистрироваться</button>
    </form>
</main>

<div class="cleaner"></div>

<footer class="footer">
    <div class="container">
        <span class="text-muted" th:text="${#dates.year(#dates.createNow())}+'&nbsp;&copy;&nbsp;Все права защищены.'">&nbsp;&copy;&nbsp;Все права защищены.</span>
    </div>
</footer>

<!-- Optional JavaScript -->
<script>window.jQuery || document.write('<script src="/webjars/jquery/3.3.1-1/jquery.min.js"><\/script>')</script>
<script th:attr="src=@{/static/js/popper.min.js}"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

</body>
</html>